<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Thankyou </title>
    <%- include partials/menubar %>
  </head>
  <body>
    <h1> THANKYOU FOR YOUR ORDER!!   HAVE A GOOD DAY </h1>
    <!-- <%= JSON.stringify(panggilData) %> -->

    <br>
    <br>
    <h2> Your Purchase Detail: </h2>
    <table>
      <thead>
        <tr>
            <th> Event Name </th>
            <th> Ticket Price </th>
            <th> Venue </th>
            <th> Date </th>
          </tr>
        </thead>
      <tbody>
      <tr>
      <th> <%= panggilData.name %> </th>
      <th> <%= panggilData.ticket_price %> </th>
      <th> <%= panggilData.venue %> </th>
      <th> <%= panggilData.date %> </th>
      </tr>
      </tbody>
    <table>
      <br>
      <br>
<a href="/">BACK HOME</a>
  </body>
</html>
